.c2 {
  height: 400px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

#canvas {
  top: 20px;
  z-index: 1000000;

  @media screen and (max-width: 1024px) {
    width: 80%;
    height: auto;
  }
}

.slide {
  position: absolute;
  display: none;
  z-index: 0;
}
.slide-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.slide-container h1 {
  font-size: 2.5rem;
  font-weight: 900;

  @media screen and (max-width: 1024px) {
    font-size: 1.8rem;
  }
}
.slide.enabled {
  display: block;
}
.slide-big-text p {
  margin: 0;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -1.5px;
  word-spacing: 1.5px;
  text-align: center;

  @media screen and (max-width: 899px) {
    font-size: 2rem;
  }
}
.slide-small-text {
  margin-top: 20px;
  margin-left: 5px;

  @media screen and (max-width: 600px) {
    height: 80px;
    overflow: auto;
  }
}
.slide-small-text p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  opacity: 0.5;

  @media screen and (max-width: 899px) {
    font-size: 1rem;
  }
}
#slide4 {
  margin-top: 200px;
}
#slide0 {
  margin-top: 400px;
}
#slide1 .slide-big-text {
  @media screen and (max-width: 899px) {
    display: none;
  }
}
#slide1,
#slide2,
#slide3,
#slide5 {
  bottom: 6vw;

  @media screen and (max-width: 899px) {
    bottom: 10vw;
  }
}
#scroll-down {
  position: absolute;
  padding: 30px 0;
  width: 100%;
  height: 50px;
  text-align: center;
  bottom: -4vw;
  opacity: 0;
  transition: all 1s ease;

  @media screen and (max-width: 1024px) {
    bottom: -8vw;
  }
}
#scroll-down p {
  font-size: 0.9rem;
  margin-top: 64px;
}

#slide0-text {
  opacity: 0;
  transition: all 1s ease;
}

.badge_container {
  margin-top: 40px;
}

#TOC {
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  right: 0%;
  height: 100%;
  background: linear-gradient(
    -90deg,
    rgb(236, 236, 236),
    rgb(255, 255, 255, 0%)
  );

  @media screen and (max-width: 1034px) {
    display: none;
  }
}
#TOC ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 135px;
  padding: 0 1rem;
}
.TOC_items {
  opacity: 0.6;
  height: 1.6rem;
  opacity: 0.4;
  font-weight: 700;
  margin-left: 1.5rem;
  cursor: pointer;
  color: rgb(61, 64, 82);
}
.TOC_items.selected {
  transition: all 0.5s;
  opacity: 1;
  font-size: 1.2rem;
  list-style: disc;
}

.portfolio,
.blog {
  display: none;
  position: absolute;
  margin: 0 auto;
  top: 5.5vw;
  z-index: 999;

  @media screen and (max-width: 899px) {
    top: 100px;
  }
}
.portfolio {
  z-index: 997;
}

.card_container {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  column-gap: 1rem;

  @media screen and (max-width: 899px) {
    flex-direction: column;
  }
}
.card_container ul {
  margin-top: -45px;
}
.card_container li {
  padding: 2rem 0 0 0;
  font-size: 1.1rem;
  color: #4f4f4f;
}

#card_1,
#card_2,
#card_3,
#card_4 {
  padding: 20px;
  min-width: 400px;
  max-width: 620px;
}
#card_1 img {
  width: auto;
  height: 100%;
}
#card_3 img {
  width: auto;
  height: 100%;
}

.btn_container {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.activity_image_container {
  width: 320px;
  height: 260px;
}
#activity_image {
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
}
#activity_image.fade_out {
  opacity: 0;
}
.img_change {
  font-weight: bold;
  text-decoration: underline;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.modal.activate {
  display: flex;
  justify-content: center;
  z-index: 999998;
  background-color: rgb(0, 0, 0, 60%);
}
#modal_body img {
  margin: 0 auto;
  height: 520px;
}
.btn_container_modal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: #2f2f2f;
}
#modal_close {
  color: #fff;
  display: flex;
  cursor: pointer;
}

.flex_container {
  display: flex;
  width: 100%;
  margin-top: -80px;
  align-items: center;
  justify-content: space-between;
}

button span {
  display: flex;
  align-items: center;
}

#post-container {
  width: 2600px;
  position: absolute;
  display: none;
  z-index: 1005;
  justify-content: center;
  margin-bottom: 4rem;
  overflow: hidden;
  top: 40px;
  background: linear-gradient(rgb(231, 240, 255), rgb(255, 255, 255, 0%));
}

.post {
  width: 270px;
  height: 360px;
  margin: 1.5rem;
  text-align: left;
  margin-bottom: 4rem;
  transition: all 0.3s ease;
  box-shadow: 0 8px 12px rgb(0 0 0 / 20%);
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;

  @media screen and (max-width: 899px) {
    width: 210px;
    height: 300px;
    margin: 1rem;
  }
}
.post_article {
  padding: 1rem;
}
.post_article h2,
.post_article p {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.post_article h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  max-height: 3rem;

  @media screen and (max-width: 899px) {
    font-size: 1rem;
    max-height: 4rem;
    -webkit-line-clamp: 3;
  }
}
.post_article p {
  padding-top: 1rem;
  font-size: 0.9rem;
  height: 4.2rem;
  color: #9395a7;

  @media screen and (max-width: 899px) {
    display: none;
  }
}
.post_article span {
  padding-top: 2rem;
  margin-right: -1rem;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  align-items: center;
  padding-right: 1rem;
  color: #9395a7;
}
.post:hover {
  transform: translateY(-1rem);
}
.post:hover .overlap {
  opacity: 1;
}
.post:hover img {
  transform: scale(1.2);
}

.img_overlay {
  width: 270px;
  height: 170px;
  overflow: hidden;

  @media screen and (max-width: 899px) {
    width: auto;
    max-height: 150px;
  }
}
.img_overlay img {
  z-index: 1;
  width: 100%;
  min-height: 100%;
  transition: transform 0.5s;
}

.overlap {
  z-index: 9999999999999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 170px;
  background-color: rgba(0, 0, 0, 60%);
  transition: opacity 0.5s;
  opacity: 0;

  @media screen and (max-width: 899px) {
    width: 210px;
  }
}
.overlap h1 {
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;

  @media screen and (max-width: 899px) {
    font-size: 1.1rem;
  }
}

#opensource_1,
#opensource_2,
#opensource_3 {
  display: none;
  position: absolute;
  border-left: 1px solid #fff;
  margin-top: -5rem;

  img {
    width: 480px;
    height: auto;
    margin-bottom: 1rem;
  }
}
.opensource_info {
  width: 320px;
  text-align: center;
}
.column_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hashtag {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.8rem 0.5rem;
  flex-wrap: wrap;
  justify-content: center;

  p {
    padding: 0.5rem 0.8rem;
    background-color: #a6c1e9;
    border-radius: 1rem;
    color: #fff;
  }

  span {
    padding: 0.5rem 0.8rem;
    background-color: #95a4f8;
    border-radius: 1rem;
    color: #fff;
  }
}

.tag {
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: flex;
}
.tag span {
  padding-bottom: 0.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #84909c;
  border-bottom: 1.5px solid #84909c;
}

.tooltip {
  display: none;
}
#contact {
  opacity: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.contact__profile {
  width: 400px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 6px 12px rgb(0 0 0 / 20%);
}
#contact__profile__container {
  width: 300px;
  height: 300px;
  border-radius: 3rem;
  overflow: hidden;
}
#contact__overlay {
  width: 300px;
  height: 300px;
  z-index: 9999995;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.contact__profile__info {
  margin-top: 1.5rem;

  ul {
    margin-top: 1rem;
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 2rem;
  overflow: hidden;
  gap: 3rem;

  @media screen and (max-width: 799px) {
    display: none;
  }
}
.contact__form__container {
  width: 260px;

  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
  }

  ul {
    margin-top: 1.3rem;

    @media screen and (max-width: 899px) {
      font-size: 0.9rem;
    }
  }
}
.contact__link {
  display: flex;
  column-gap: 1rem;
  margin-top: 2rem;

  li {
    z-index: 999999;
    cursor: pointer;
    list-style: none;
    padding: 0.6rem 0.6rem 0.3rem 0.6rem;
    border-radius: 100%;
    border: 2px solid #84909c;
    color: #84909c;
  }

  li:hover {
    transition: all 0.3s;
    background-color: lightgray;

    .tooltip {
      display: block;
      position: absolute;
      margin-top: 0.6rem;
      padding: 0.2rem 0.5rem;
      border-radius: 5rem;
      font-weight: 500;
      font-size: 0.8rem;
      background-color: #84909c;
      color: #fff;
    }
  }
}
