.c2 {
  height: 400px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

#canvas {
  top: 20px;
  z-index: 1000000;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}
#canvas2 {
  display: none;
  z-index: 1000002;
  border: 1px solid black;
}

.slide {
  position: absolute;
  display: none;
  z-index: 0;
}
.slide-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.slide-container h1 {
  font-size: 2.1rem;
  font-weight: bold;
  /* color: #39c; */
}
.slide.enabled {
  display: block;
}
.slide-big-text p {
  margin: 0;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -1.5px;
  word-spacing: 1.5px;
  text-align: center;
}
.slide-small-text {
  margin-top: 20px;
  margin-left: 5px;
}
.slide-small-text p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  opacity: 0.5;
}
#slide0 {
  margin-top: 200px;
}
#slide1 {
  bottom: 6vw;
}
#slide1 .slide-big-text {
  @media screen and (max-width: 899px) {
    display: none;
  }
}
#slide2,
#slide3 {
  bottom: 8vw;
}

#scroll-down {
  position: absolute;
  padding: 30px 0;
  width: 100%;
  height: 50px;
  text-align: center;
  bottom: -6vw;
}
#scroll-down p {
  font-size: 0.9rem;
  margin-top: 64px;
}

#moving-background {
  width: 500px;
  padding-top: 40px;
  height: 500px;
  background-color: #f2f6fa;
  color: #777;
  z-index: -1;
}

.badge_container {
  margin-top: 40px;
}

#TOC {
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  right: 3%;
  height: 100%;

  @media screen and (max-width: 1034px) {
    display: none;
  }
}
#TOC ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 110px;
}
.TOC_items {
  opacity: 0.6;
  height: 1.6rem;
  opacity: 0.4;
  font-weight: 700;
  margin-left: 1.5rem;
  cursor: pointer;
}
.TOC_items.selected {
  transition: all 0.5s;
  opacity: 1;
  font-size: 1.2rem;
  list-style: disc;
}

.portfolio,
.blog {
  display: none;
  position: absolute;
  margin: 0 auto;
  top: 8vw;
  z-index: 999;

  @media screen and (max-width: 899px) {
    top: 100px;
  }
}
.portfolio {
  z-index: 997;
}

.card_container {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  column-gap: 4px;

  @media screen and (max-width: 899px) {
    flex-direction: column;
  }
}
.card_container ul {
  margin-top: -45px;
}
.card_container li {
  padding-left: 1rem;
  padding-top: 18px;
  font-size: 1.1rem;
  color: #afafaf;
}
.card_container li strong {
  color: #efefef;
}
#card_1,
#card_2,
#card_3,
#card_4 {
  padding: 20px;
  min-width: 400px;
  max-width: 620px;
}
#card_1 img {
  width: auto;
  height: 100%;
}
#card_3 img {
  width: auto;
  height: 100%;
}

.btn_container {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
.btn_container button {
  margin: 3px;
  border: none;
  border-radius: 2rem;
  /* background-color: #07c; */
  background-color: #2f2f2f;
  padding: 0.6rem 1rem;
  cursor: pointer;
  /* border: 2px solid #07c; */
  border: 2px solid #0f0f0f;
  overflow: hidden;
  position: relative;
}
.btn_container .icon {
  padding: 0.3rem 0.8rem;
}
.btn_container button p {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
  transition: all 1s ease;
  cursor: pointer;
  font-weight: bold;
}

.activity_image_container {
  width: 320px;
  height: 260px;
}
#activity_image {
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
}
#activity_image.fade_out {
  opacity: 0;
}
.img_change {
  font-weight: bold;
  text-decoration: underline;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.modal.activate {
  display: flex;
  justify-content: center;
  z-index: 999998;
  background-color: rgb(0, 0, 0, 60%);
}
#modal_body img {
  margin: 0 auto;
  height: 520px;
}
.btn_container_modal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: #2f2f2f;
}
#modal_close {
  color: #fff;
  display: flex;
  cursor: pointer;
}

.flex_container {
  display: flex;
  width: 100%;
  margin-top: -80px;
  align-items: center;
  justify-content: space-between;
}

.tag {
  border-top: 1px solid #fff;
  margin: 15px;
  padding-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}
.tag span {
  padding: 0.4rem 0.6rem;
  /* background-color: rgb(0, 119, 204, 55%); */
  /* background-color: #5f5f5f; */
  color: #fff;
  /* border-radius: 20px; */
  font-size: 0.9rem;
  font-weight: bold;
}

button span {
  display: flex;
  align-items: center;
}

#post-container {
  position: absolute;
  display: none;
  z-index: 1005;
  justify-content: center;
  margin-bottom: 4rem;
}

.post {
  width: 270px;
  height: 360px;
  margin: 1.5rem;
  text-align: left;
  margin-bottom: 4rem;
  transition: all 0.3s ease;
  box-shadow: 0 8px 12px rgb(0 0 0 / 60%);
  border: 1px solid #fff;
  overflow: hidden;
  background-color: #272b31;
  cursor: pointer;
}
.post_article {
  padding: 1rem;
}
.post_article h2,
.post_article p {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.post_article h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  -webkit-line-clamp: 2;
  max-height: 3rem;
}
.post_article p {
  padding-top: 1rem;
  font-size: 0.9rem;
  height: 4rem;
  color: #7d8081;
}
.post_article span {
  padding-top: 2rem;
  margin-right: -1rem;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  align-items: center;
  padding-right: 1rem;
  color: #5a70a0;
}
.post:hover {
  transform: translateY(-1rem);
}
.post:hover .overlap {
  opacity: 1;
}
.post:hover img {
  transform: scale(1.2);
}

.img_overlay {
  width: 270px;
  height: 170px;
  overflow: hidden;
}
.img_overlay img {
  z-index: 1;
  width: 100%;
  min-height: 100%;
  transition: transform 0.5s;
}

.overlap {
  z-index: 9999999999999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 170px;
  background-color: rgba(0, 0, 0, 60%);
  transition: opacity 0.5s;
  opacity: 0;
}
.overlap h1 {
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

#opensource_1,
#opensource_2 {
  position: absolute;
  padding: 2rem;
  border-left: 1px solid #fff;
}
