.mouse {
  position: absolute;
  left: 50%;
  width: 32px;
  height: 52px;
  margin-left: -15px;
  border: 2px solid #2f2f2f;
  border-radius: 50px;
  box-sizing: border-box;
}
.mouse::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #2f2f2f;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 캐러셀 카드 */
.icon-cards {
  position: relative;
  display: flex;
  width: 100%;
  height: 40vw;
  max-width: 380px;
  max-height: 240px;
  margin: 0 auto;
  perspective: 1000px;
  transform-origin: center;
}
.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateX(0);
  animation: carousel 8s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
  animation: carousel 8s infinite steps(1) forwards;
}
.icon-cards__item {
  position: absolute;
  width: 60vw;
  height: 40vw;
  max-width: 340px;
  max-height: 220px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-cards__item:nth-child(1) {
  transform: rotateX(0) translateZ(12vw);
  box-shadow: 0 8px 12px rgb(0 0 0 / 20%);
}
.icon-cards__item:nth-child(2) {
  transform: rotateX(120deg) translateZ(12vw);
  box-shadow: 0 8px 12px rgb(0 0 0 / 20%);
}
.icon-cards__item:nth-child(3) {
  transform: rotateX(240deg) translateZ(12vw);
  box-shadow: 0 8px 12px rgb(0 0 0 / 20%);
}

/* 케러셀 애니메이션 */
@keyframes carousel {
  0%,
  17.5% {
    transform: translateZ(-12vw) rotateX(0);
  }
  27.5%,
  45% {
    transform: translateZ(-12vw) rotateX(-120deg);
  }
  55%,
  72.5% {
    transform: translateZ(-12vw) rotateX(-240deg);
  }
  82.5%,
  100% {
    transform: translateZ(-12vw) rotateX(-360deg);
  }
}

/* 버튼 */
.btn_container button:before {
  top: 0;
  left: -210px;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  transition: all 0.7s cubic-bezier(0.3, 1, 0.1, 0.9);
}
.btn_container button:hover:before {
  left: 0;
}
.btn_container button:hover p {
  color: #07c;
}

/* 모달 애니메이션 */
@keyframes modal_open {
  0% {
    height: 0;
  }
  100% {
    height: 600px;
  }
}

#modal_body {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 40px;
  top: 50%;
  margin: 0 auto;
  min-width: 520px;
  z-index: 999999;
  border-radius: 10px;
  transform: translateY(-50%);
  background-color: #2f2f2f;
  box-shadow: 0 10px 14px rgb(0 0 0 / 40%);
  animation: modal_open 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}
