.mouse {
  position: absolute;
  left: 50%;
  width: 32px;
  height: 52px;
  margin-left: -15px;
  border: 2px solid #2f2f2f;
  border-radius: 50px;
  box-sizing: border-box;
}
.mouse::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #2f2f2f;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.profile_container {
  position: relative;
  width: 200px; /* 이미지가 겹쳐지도록 설정 */
  height: auto;
  left: 35%;
  bottom: 220px;
  margin-top: 200px;
}

.profile {
  position: absolute;
  width: 200px;
  top: 0;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%);
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.left {
  animation-name: slideLeft;
}

.right {
  animation-name: slideRight;
}

@keyframes slideLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% - 100px));
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + 100px));
  }
}

/* dd */

/* Cards Carousel */
/* ---------------------------------------------- */

.icon-cards {
  position: relative;
  display: flex;
  width: 100%;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0 auto;
  perspective: 1000px;
  transform-origin: center;
}

.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateX(0);
  animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.icon-cards__content.step-animation {
  animation: carousel 8s infinite steps(1) forwards;
}

.icon-cards__item {
  position: absolute;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-cards__item:nth-child(1) {
  background: #fdd94f;
  transform: rotateX(0) translateZ(12vw);
}

.icon-cards__item:nth-child(2) {
  background: #f87949;
  transform: rotateX(120deg) translateZ(12vw);
}

.icon-cards__item:nth-child(3) {
  background: #fbab48;
  transform: rotateX(240deg) translateZ(12vw);
}

/* Carousel animation */
@keyframes carousel {
  0%,
  17.5% {
    transform: translateZ(-12vw) rotateX(0);
  }
  27.5%,
  45% {
    transform: translateZ(-12vw) rotateX(-120deg);
  }
  55%,
  72.5% {
    transform: translateZ(-12vw) rotateX(-240deg);
  }
  82.5%,
  100% {
    transform: translateZ(-12vw) rotateX(-360deg);
  }
}
