.mouse {
  position: absolute;
  top: 0;
  left: 50%;
  width: 35px;
  height: 60px;
  margin-left: -15px;
  border: 2px solid #000;
  border-radius: 50px;
  box-sizing: border-box;
}
.mouse::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.profile_container {
  position: relative;
  width: 200px; /* 이미지가 겹쳐지도록 설정 */
  height: auto;
  left: 40%;
  bottom: 220px;
  margin-top: 200px;
}

.profile {
  position: absolute;
  width: 200px;
  top: 0;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%);
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.left {
  animation-name: slideLeft;
}

.right {
  animation-name: slideRight;
}

@keyframes slideLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% - 100px));
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + 100px));
  }
}
