main {
  text-align: center;
  font-family: "Pretendard", sans-serif;
}

.c2 {
  height: 400px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

#canvas {
  position: absolute;
  margin: 0 auto;
  top: 50px;
  z-index: 999999;
}

.slide {
  position: absolute;
  display: none;
  z-index: 0;
}
.slide-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.slide.enabled {
  display: block;
}
.slide-big-text p,
span {
  margin: 0;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -1.5px;
  word-spacing: 1.5px;
  text-align: center;
}
.slide-small-text {
  margin-top: 20px;
  margin-left: 5px;
}
.slide-small-text p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  opacity: 0.5;
}
#slide0 {
  margin-top: 250px;
}
#slide1 {
  margin-top: 350px;
}

#scroll-down {
  position: absolute;
  padding: 30px 0;
  width: 100%;
  height: 50px;
  text-align: center;
  top: 200px;
}
#scroll-down p {
  margin-top: 64px;
}

#moving-background {
  width: 500px;
  padding-top: 40px;
  height: 500px;
  background-color: #f5f5f5;
  color: #777;
  z-index: -1;
}

.badge_container {
  margin-top: 40px;
}

.card {
  width: 300px;
  height: 150px;
  border-radius: 20px;
  background-color: red;
  cursor: pointer;
}
.card_container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  column-gap: 4px;
}
.card_overlap {
  top: 0;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 60%);
  transition: opacity 0.5s ease-in-out;
}

#TOC {
  z-index: 999999;
  position: fixed;
  display: flex;
  align-items: center;
  right: 5%;
  height: 100%;

  @media screen and (max-width: 899px) {
    display: none;
  }
}
#TOC ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100px;
}
.TOC_items {
  opacity: 0.6;
  height: 1.6rem;
  opacity: 0.4;
  font-weight: 700;
  margin-left: 1.5rem;
  cursor: pointer;
}
.TOC_items.selected {
  transition: all 0.5s;
  opacity: 1;
  font-size: 1.2rem;
}
.TOC_items.selected::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  background-color: #2f2f2f;
  margin: 0.5rem 0 0 0;
  right: 90%;
}

.blog,
.portfolio {
  position: absolute;
  margin: 0 auto;
  top: 100px;
}

#card_1,
#card_2,
#card_3,
#card_4 {
  padding: 20px;
  z-index: 9999999;
  min-width: 400px;
  max-width: 600px;
  text-align: left;
}
#card_1 img {
  width: auto;
  height: 100%;
}
#card_3 img {
  width: auto;
  height: 100%;
}
