.c2 {
  height: 400px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

#canvas {
  position: absolute;
  margin: 0 auto;
  top: 50px;
  z-index: 1000000;
}

.slide {
  position: absolute;
  display: none;
  z-index: 0;
}
.slide-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.slide-container h1 {
  font-size: 2.1rem;
  font-weight: bold;
  color: #39c;
}
.slide.enabled {
  display: block;
}
.slide-big-text p {
  margin: 0;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -1.5px;
  word-spacing: 1.5px;
  text-align: center;
}
.slide-small-text {
  margin-top: 20px;
  margin-left: 5px;
}
.slide-small-text p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  opacity: 0.5;
}
#slide0 {
  margin-top: 250px;
}
#slide1 {
  margin-top: 350px;
}
#slide1 .slide-small-text {
  @media screen and (max-width: 899px) {
    display: none;
  }
}

#scroll-down {
  position: absolute;
  padding: 30px 0;
  width: 100%;
  height: 50px;
  text-align: center;
  bottom: -5vw;
}
#scroll-down p {
  margin-top: 64px;
}

#moving-background {
  width: 500px;
  padding-top: 40px;
  height: 500px;
  background-color: #f5f5f5;
  color: #777;
  z-index: -1;
}

.badge_container {
  margin-top: 40px;
}

#TOC {
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  right: 3%;
  height: 100%;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}
#TOC ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 110px;
}
.TOC_items {
  opacity: 0.6;
  height: 1.6rem;
  opacity: 0.4;
  font-weight: 700;
  margin-left: 1.5rem;
  cursor: pointer;
}
.TOC_items.selected {
  transition: all 0.5s;
  opacity: 1;
  font-size: 1.2rem;
  list-style: disc;
}

.portfolio,
.blog {
  position: absolute;
  margin: 0 auto;
  top: 100px;
  z-index: 999999;
}
.portfolio {
  z-index: 997;
}

.card_container {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  column-gap: 4px;

  @media screen and (max-width: 899px) {
    flex-direction: column;
  }
}
.card_container ul {
  margin-top: -45px;
}
.card_container li {
  padding-left: 1rem;
  padding-top: 18px;
  font-weight: bold;
  color: #666;
}
.card_container li strong {
  color: #2f2f2f;
  font-size: 1.1rem;
}
#card_1,
#card_2,
#card_3,
#card_4 {
  padding: 20px;
  min-width: 400px;
  max-width: 620px;
  text-align: left;
}
#card_1 img {
  width: auto;
  height: 100%;
}
#card_3 img {
  width: auto;
  height: 100%;
}

.btn_container {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
.btn_container button {
  margin: 3px;
  border: none;
  border-radius: 2rem;
  background-color: #07c;
  color: #fff;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border: 2px solid #07c;
  overflow: hidden;
  position: relative;
}
.btn_container .icon {
  padding: 0.3rem 0.8rem;
}
.btn_container button p {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 1;
  transition: all 1s ease;
  cursor: pointer;
  font-weight: bold;
}

.activity_image_container {
  width: 320px;
  height: 260px;
}
#activity_image {
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
}
#activity_image.fade_out {
  opacity: 0;
}
.img_change {
  font-weight: bold;
  text-decoration: underline;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: -1;
}
#modal.activate {
  display: flex;
  justify-content: center;
  z-index: 999998;
  background-color: rgb(0, 0, 0, 60%);
}
#modal_body img {
  height: 520px;
  width: auto;
}
.btn_container_modal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
#modal_close {
  color: #fff;
  display: flex;
  cursor: pointer;
}

.flex_container {
  display: flex;
  width: 100%;
  margin-top: -80px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 119, 204, 30%);
}
